@page
@using CourseHub.Core.Helpers.Business;
@using CourseHub.UI.Helpers.Utils;
@model CourseHub.UI.Pages.Course.SearchModel
@{
    TempData[Global.TITLE] = "Search Courses";
}


<link rel="stylesheet" href="~/css/common-app-css.5b914d85e01ba6db2ad0.css">
<link rel="stylesheet" href="~/css/search-main.css">
<style>
    body {
        display: unset;
    }

    /*.u-all-course {
        margin-top: 160px;
    }*/

    .list-course>div {
        float: left;
    }

    .u-number-page a {
        padding: 12px 24px;
    }
</style>


<body data-new-gr-c-s-check-loaded="14.1126.0" data-gr-ext-installed="">
   <main>
      <input type="hidden" id="txtNumberPage" name="txtNumberPage" value="1">
      <div class="style-combo" style="padding:15px 0">
         <div class="container">
            <div class="row">
               <!--<div class="style-title">
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 padding-left-5">
                     <h1 style="font-size: 20px;font-family: inherit;color: inherit;margin-top: 0px; margin-bottom: 0;">Kết quả tìm kiếm: a</h1>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 u-all-courses">
                     <h4>Tìm thấy <b>1869</b> khóa học online</h4>
                  </div>
               </div>-->
               
               <!--
               <div class="col-lg-10 col-md-10 col-sm-10 u-list-leftbar padding-left-5  hidden">
                  <section>
                     <div class="u-cate-list ">
                        <p style="font-size: 16px;font-weight: bold;border-bottom: 1px solid #d7d7d7;margin-bottom: 10px;padding-bottom: 5px;">
                           Danh mục khóa học
                        </p>
                        <ul>
                           <li>
                              <a title="Khóa học Ngoại Ngữ trực tuyến nhiều người học" href="/course/ngoai-ngu"><i class="fa fa fa-language" aria-hidden="true"></i> Ngoại ngữ</a>
                              <ul class="issub" style="z-index: 1002; display: none;">
                                 <li><a href="/course/ngoai-ngu">Tất cả Ngoại ngữ</a></li>
                                 <li><a href="/tag/tieng-han">Tiếng Hàn</a></li>
                                 <li><a href="/tag/tieng-duc">Tiếng Đức</a></li>
                                 <li><a href="/tag/tieng-trung">Tiếng Trung</a></li>
                                 <li><a href="/tag/tieng-nhat">Tiếng Nhật</a></li>
                                 <li><a href="/tag/tieng-anh">Tiếng Anh</a></li>
                              </ul>
                           </li>
                           <li>
                              <a title="Khóa Học Marketing Từ Case Study Thực Chiến" href="/course/marketing"><i class="fa fa fa-line-chart" aria-hidden="true"></i> Marketing</a>
                              <ul class="issub" style="z-index: 1002; display: none;">
                                 <li><a href="/course/marketing">Tất cả Marketing</a></li>
                                 <li><a href="/tag/facebook-marketing">Facebook Marketing</a></li>
                                 <li><a href="/tag/zalo-marketing">Zalo Marketing</a></li>
                                 <li><a href="/tag/email-marketing">Email Marketing</a></li>
                                 <li><a href="/tag/google-ads">Google Ads</a></li>
                                 <li><a href="/tag/seo">Seo</a></li>
                                 <li><a href="/tag/youtube-marketing">Youtube Marketing</a></li>
                                 <li><a href="/tag/content-marketing">Content Marketing</a></li>
                                 <li><a href="/tag/video-marketing">Video marketing</a></li>
                                 <li><a href="/tag/affiliate-marketing">Affiliate Marketing</a></li>
                                 <li><a href="/tag/marketing-online">Marketing Online</a></li>
                              </ul>
                           </li>
                           <li>
                              <a title="Khóa học tin học văn phòng từ cơ bản đến nâng cao" href="/course/tin-hoc-van-phong"><i class="fa fa fa-desktop" aria-hidden="true"></i> Tin học văn phòng</a>
                              <ul class="issub" style="z-index: 1002; display: none;">
                                 <li><a href="/course/tin-hoc-van-phong">Tất cả Tin học văn phòng</a></li>
                                 <li><a href="/tag/excel">Excel</a></li>
                                 <li><a href="/tag/word">Word</a></li>
                                 <li><a href="/tag/ic3">IC3</a></li>
                                 <li><a href="/tag/google-sheets">Google Sheets </a></li>
                                 <li><a href="/tag/powerpoint">PowerPoint</a></li>
                              </ul>
                           </li>
                           <li>
                              <a title="Khóa học kinh doanh, khởi nghiệp thực chiến" href="/course/kinh-doanh-va-khoi-nghiep"><i class="fa fa fa-rocket" aria-hidden="true"></i> Kinh doanh và khởi nghiệp</a>
                              <ul class="issub" style="z-index: 1002; display: none;">
                                 <li><a href="/course/kinh-doanh-va-khoi-nghiep">Tất cả Kinh doanh và khởi nghiệp</a></li>
                                 <li><a href="/tag/quan-tri-doanh-nghiep">Quản trị doanh nghiệp</a></li>
                                 <li><a href="/tag/nhan-su-tuyen-dung">Nhân sự - Tuyển dụng</a></li>
                                 <li><a href="/tag/kinh-doanh-online">Kinh doanh Online</a></li>
                                 <li><a href="/tag/startup">Startup</a></li>
                                 <li><a href="/tag/bat-dong-san">Bất động sản</a></li>
                                 <li><a href="/tag/dropshipping">Dropshipping</a></li>
                              </ul>
                           </li>
                           <li>
                              <a title="Tài chính &amp; Kế toán" href="/course/tai-chinh-ke-toan"><i class="fa fa fa-money" aria-hidden="true"></i> Tài chính &amp; Kế toán</a>
                              <ul class="issub" style="z-index: 1002; display: none;">
                                 <li><a href="/course/tai-chinh-ke-toan">Tất cả Tài chính &amp; Kế toán</a></li>
                                 <li><a href="/tag/ke-toan">Kế Toán</a></li>
                                 <li><a href="/tag/tai-chinh">Tài chính</a></li>
                                 <li><a href="/tag/chung-khoan">Chứng khoán</a></li>
                              </ul>
                           </li>
                           <li>
                              <a title="Khóa học Sales, bán hàng thực chiến từ A - Z" href="/course/sales-ban-hang"><i class="fa fa fa-shopping-cart" aria-hidden="true"></i> Sales Bán hàng</a>
                              <ul class="issub" style="z-index: 1002; display: none;">
                                 <li><a href="/course/sales-ban-hang">Tất cả Sales Bán hàng</a></li>
                                 <li><a href="/tag/ban-hang-online">Bán hàng Online</a></li>
                                 <li><a href="/tag/telesales">Telesales</a></li>
                                 <li><a href="/tag/ban-hang-livestream">Bán hàng livestream</a></li>
                                 <li><a href="/tag/cham-soc-khach-hang">Chăm sóc khách hàng</a></li>
                                 <li><a href="/tag/chien-luoc-ban-hang">Chiến lược bán hàng</a></li>
                              </ul>
                           </li>
                           <li>
                              <a title="Khóa học thiết kế từ cơ bản đến nâng cao" href="/course/thiet-ke-xay-dung"><i class="fa fa fa-paint-brush" aria-hidden="true"></i> Thiết kế &amp; Xây dựng</a>
                              <ul class="issub" style="z-index: 1002; display: none;">
                                 <li><a href="/course/thiet-ke-xay-dung">Tất cả Thiết kế &amp; Xây dựng</a></li>
                                 <li><a href="/tag/thiet-ke-quang-cao">Thiết kế quảng cáo</a></li>
                                 <li><a href="/tag/thiet-ke-web">Thiết kế Web</a></li>
                                 <li><a href="/tag/photoshop">Photoshop</a></li>
                                 <li><a href="/tag/autocad">Autocad</a></li>
                                 <li><a href="/tag/3dsmax">3DSMax</a></li>
                                 <li><a href="/tag/du-an-xay-dung">Dự án - Xây dựng</a></li>
                                 <li><a href="/tag/kien-truc-noi-that">Kiến Trúc, Nội Thất</a></li>
                              </ul>
                           </li>
                           <li>
                              <a title="Khóa học kỹ năng mềm giúp phát triển bản thân tốt hơn" href="/course/ky-nang"><i class="fa fa fa-lightbulb-o" aria-hidden="true"></i> Kỹ năng</a>
                              <ul class="issub" style="z-index: 1002; display: none;">
                                 <li><a href="/course/ky-nang">Tất cả Kỹ năng</a></li>
                                 <li><a href="/tag/ky-nang-lanh-dao">Kỹ năng lãnh đạo</a></li>
                                 <li><a href="/tag/ky-nang-mem">Kỹ năng mềm</a></li>
                                 <li><a href="/tag/phat-trien-ban-than">Phát triển bản thân</a></li>
                              </ul>
                           </li>
                           <li>
                              <a title="Khóa học công nghệ thông tin, khoa học công nghệ Online hàng đầu" href="/course/cong-nghe"><i class="fa fa fa-code" aria-hidden="true"></i> Công nghệ</a>
                              <ul class="issub" style="z-index: 1002; display: none;">
                                 <li><a href="/course/cong-nghe">Tất cả Công nghệ</a></li>
                                 <li><a href="/tag/du-lieu">Dữ liệu</a></li>
                                 <li><a href="/tag/cong-nghe-thong-tin">Công nghệ thông tin</a></li>
                                 <li><a href="/tag/sua-chua-che-tao">Sửa chữa, chế tạo</a></li>
                              </ul>
                           </li>
                           <li>
                              <a title="Khóa học sức khỏe, làm đẹp" href="/course/suc-khoe-lam-dep"><i class="fa fa fa-heartbeat" aria-hidden="true"></i> Sức khoẻ &amp; Làm đẹp</a>
                              <ul class="issub" style="z-index: 1002; display: none;">
                                 <li><a href="/course/suc-khoe-lam-dep">Tất cả Sức khoẻ &amp; Làm đẹp</a></li>
                                 <li><a href="/tag/giam-can">Giảm cân</a></li>
                                 <li><a href="/tag/yoga-thien">Yoga - Thiền</a></li>
                                 <li><a href="/tag/giam-stress">Giảm stress</a></li>
                                 <li><a href="/tag/massage-tri-lieu">Massage - Trị liệu</a></li>
                                 <li><a href="/tag/fitness-gym">Fitness - Gym</a></li>
                                 <li><a href="/tag/khi-cong">Khí công</a></li>
                              </ul>
                           </li>
                           <li>
                              <a title="Khóa học phong cách sống hay" href="/course/phong-cach-song"><i class="fa fa fa-cutlery" aria-hidden="true"></i> Phong cách sống</a>
                              <ul class="issub" style="z-index: 1002; display: none;">
                                 <li><a href="/course/phong-cach-song">Tất cả Phong cách sống</a></li>
                                 <li><a href="/tag/pha-che">Pha chế</a></li>
                                 <li><a href="/tag/lam-banh">Làm bánh</a></li>
                                 <li><a href="/tag/handmade">Handmade</a></li>
                                 <li><a href="/tag/tu-vi">Tử vi</a></li>
                                 <li><a href="/tag/ao-thuat">Ảo thuật</a></li>
                                 <li><a href="/tag/am-nhac">Âm nhạc</a></li>
                                 <li><a href="/tag/am-thuc-nau-an">Ẩm thực - Nấu ăn</a></li>
                                 <li><a href="/tag/nhay">Nhảy</a></li>
                                 <li><a href="/tag/hoi-hoa">Hội hoạ</a></li>
                                 <li><a href="/tag/nhiep-anh-dung-phim">Nhiếp ảnh, dựng phim</a></li>
                              </ul>
                           </li>
                           <li>
                              <a title="Khóa học hôn nhân gia đình hàng đầu cùng chuyên gia " href="/course/tinh-yeu-hon-nhan-gia-dinh"><i class="fa fa fa-group" aria-hidden="true"></i> Tình yêu - Hôn nhân &amp; gia đình</a>
                              <ul class="issub" style="z-index: 1002; display: none;">
                                 <li><a href="/course/tinh-yeu-hon-nhan-gia-dinh">Tất cả Tình yêu - Hôn nhân &amp; gia đình</a></li>
                                 <li><a href="/tag/nuoi-day-con">Nuôi dạy con</a></li>
                                 <li><a href="/tag/mang-thai">Mang Thai</a></li>
                                 <li><a href="/tag/cham-soc-tre">Chăm sóc trẻ </a></li>
                                 <li><a href="/tag/tinh-yeu">Tình yêu</a></li>
                                 <li><a href="/tag/hanh-phuc-gia-dinh">Hạnh phúc gia đình</a></li>
                                 <li><a href="/tag/doi-song-vo-chong">Đời sống vợ chồng</a></li>
                              </ul>
                           </li>
                        </ul>
                     </div>
                  </section>
               </div>-->
               <div class="main-content" style="width: 100%;">
                  <div class="u-all-course">
                     @*<section>
                        <div class="u-hot-cate hidden-xs">
                           <span class="order-new-seo"><i class="fa fa-sort" aria-hidden="true"></i>Sắp xếp</span>
                           <ul>
                              <li><a class="" href="?sort_by=learn-most&amp;key=a">Học nhiều nhất</a></li>
                              <li><a class="" href="?sort_by=rating&amp;key=a">Đánh giá cao</a></li>
                              <li><a class="" href="?sort_by=new&amp;key=a">Mới nhất</a></li>
                              <li><a class="" href="?sort_by=price-low&amp;key=a">Giá thấp đến cao</a></li>
                              <li><a class="" href="?sort_by=price-high&amp;key=a">Giá cao đến thấp</a></li>
                           </ul>
                        </div>
                     </section>*@
                     <br>
                     <section class="style-search" style="margin-left: 18px;">
                        <div class="list-course a">
                            @foreach (var course in Model.Courses.Items) {
                                <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                                      <a href="@UIHelper.GetCourseDetailPage(course.Id)" class="course-box-slider pop" data-original-title="" title="">
                                      @if (course.Discount > 0 && course.DiscountExpiry > DateTime.UtcNow)
                                      {
                                          <span class="sale-off">-@(course.Discount * 100)%</span>
                                      }
                                     <div class="img-course">
                                         <img class="img-responsive" src="@course.ThumbUrl" alt="thumb" loading="lazy"></div>
                                     <div class="content-course">
                                        <h3 class="title-course">
                                            <span>@course.Title</span>
                                        </h3>
                                        <div class="name-gv">
                                           <b>@course.Creator.FullName</b>
                                           <div class="rate-combo">
                                              <p>
                                                  <span class="star-rate">
                                                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                                                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                                                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                                                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                                                      <i class="fa fa-star co-or" aria-hidden="true"></i>  (@course.RatingCount)        </span>
                                              </p>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="price-course" style="clear: both; top: -40px;">
                                         <span class="price-b">@course.Price<sup>đ</sup></span>
                                         @if (CourseBusinessHelper.IsOnDiscount(course.Discount, course.DiscountExpiry))
                                         {
                                             <span class="price-a">@CourseBusinessHelper.GetPostDiscount(course.Price, course.Discount, course.DiscountExpiry)<sup>đ</sup></span>
                                         }
                                     </div>
                                  </a>
                               </div>
                            }
                        </div>
                     </section>
                  </div>
               </div>




               <div class="u-number-page text-center">
                   <a href="javascript:void(0)" type="button" id="btn-load-more" class="btn">
                       <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="display: none;"></i> XEM TIẾP</a>
               </div>
               <div class="container">
                  <div class="row no-padding-xs">
                     <div class="col-lg-12 no-padding-lg"></div>
                  </div>
               </div>
               <div class="blog_content" style="background: none;"></div>
            </div>
         </div>
      </div>
   </main>
</body>
